html,
body {
  margin: 0;
  padding: 0;
}
:root {
  --search-border: #bbb;
  --search-focus-border: #3a71ca;
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.container {
  padding: 2em;
  width: 80px;
  margin: auto;
  background: purple;
}
